profiles {
  standard {
    includeConfig 'base.config'
    process.executor = 'local'
    process.container = 'registry.gitlab.com/cgps/ghru/pipelines/dsl2/pipelines/assembly:2.1.2'
    docker.enabled = true
    docker.runOptions='-u $(id -u):$(id -g)'
    errorStrategy = { task.attempt <= 2 ? "retry" : "finish" }
    maxRetries = 2 
  }
  sanger {
    includeConfig 'base.config'
    process.container = '/lustre/scratch118/infgen/team212/au3/singularity/ghru-assembly-2.0.0.sif'
    singularity {
      enabled = true
      runOptions = '--bind /lustre --bind /nfs/pathnfs01 --bind /nfs/pathnfs02 --bind /nfs/pathnfs03 --bind /nfs/pathnfs04 --bind /nfs/pathnfs05 --bind /nfs/pathnfs06 --no-home'
    }
    process.cpus = 1
    process.memory = '2G'
    process.executor = 'lsf'
    process.queue = 'normal'
    executor{
      name = 'lsf'
      perJobMemLimit = true
      poolSize = 4
      submitRateLimit = '5 sec'
      killBatchSize = 50
    }
    process.errorStrategy = { task.attempt <= 5 ? "retry" : "finish" }
    process.maxRetries = 5
    tower {
      enabled = true
    }
  }
  bmrc {
    includeConfig 'base.config'
    process.container = '/well/aanensen/shared/singularity/ghru-assembly-2.1.2.sif'
    singularity {
      enabled = true
      runOptions = '--bind /well --bind /gpfs3 --no-home'
    }
    process.cpus = 1
    process.memory = '2G'
    process.executor = 'sge'
    process.queue = 'long.qc'
    process.clusterOptions='-P aanensen.prjc'
    process.penv = 'shmem'
    executor{
      name = 'sge'
    }
    process.errorStrategy = { task.attempt <= 5 ? "retry" : "ignore" }
    process.maxRetries = 5
    tower {
      enabled = true
    }
    //process {
    //  withName: SPADES_ASSEMBLY {
    //    errorStrategy = { task.attempt <= 5 ? "retry" : "ignore" }
    //  }
    //}
  }
  test {
    includeConfig 'base.config'
    process.executor = 'local'
    process {
      withName: TRIMMING {
          memory = 3.GB
      }
      withName: FASTQC_MULTIQC {
          memory = 3.GB
      }
      withName: SPADES_ASSEMBLY {
          memory = 3.GB
      }
      withName: QUAST_SUMMARY {
          memory = 3.GB
      }
      withName: QUAST_MULTIQC {
          memory = 3.GB
      }
    } 
  }
}

